html {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(./img/bg-img.svg) no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #ebebeb !important;
}

.navbar-app {
  margin-top: 3.75em;
  color: #fff;
  background: #11064d;
  font-weight: 500;
}

.nav-links,
.dropdown-toggle::after,
.dropdown-toggle.nav-link {
  color: #fff;
  font-weight: 500;
}
